# Environment variables
.env

# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Exclude main.py (terminal version)
main.py
